.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.navbar a {
  text-decoration: none;
  color: #fff;
}

.navbarButtons button:hover {
  color: rgb(255, 56, 56);
}

.logoutButton:hover{
  color: #1976d2;;
}

.body {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.navbarButtons{
  display: flex;
  align-items: center;
  height: 100%;
}

.divider{
  margin-left: 5px;
  margin-right: 5px;
}